<%- include('navbar'); -%>
<main class="container">
      <h2>Mon Profil</h2>
      <img class="profile" src="/images/profile.jpeg" />
      <h3>Name : </h3>
      <h3>Email : </h3>
</main>

<%- include('footer') -%>




